<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CardScale" value="0.66" />
    <add key="NormalX" value="0" />
    <add key="NormalY" value="250" />
    <add key="EvolvedX" value="1600" />
    <add key="EvolvedY" value="250" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>