<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsCardSelectedBase" value="0x1F30AC"/>
    <add key="IsCardSelected" value="0x24,0x444,0xB0,0x28,0xF0"/>
    <add key="SelectedCardNameBase" value="0x1F30AC"/>
    <add key="SelectedCardName" value="0x24,0x444,0xB0,0x28,0x120"/>
    <add key="SelectedCardNameOffset" value="0xC"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
