<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Change en to ja if you want Japanese card art -->
    <add key="language" value="en"/>
    
    <!-- Currently there are 624 cards -->
    <add key="totalCards" value="680"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>